@model List<BlogPost.Web.Models.Domain.BlogPage>
@{
}


<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Show All Blog Page - Admin Functionality</h1>
    </div>
</div>

<div class="container">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Haeding</th>
                    <th>Tags</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var blogpage in Model)
                {
                    <tr>
                        <td>@blogpage.Id</td>
                        <td>@blogpage.Haeding</td>
                        <td>
                            <div class="d-flex">
                                @foreach (var tag in blogpage.Tags)
                                {
                                    <span class="badge bg-secondary me-1">
                                        @tag.Name
                                    </span>
                                }
                            </div>
                        </td>
                        <td><a asp-area="" asp-controller="AdminBlogPage" asp-action="Edit" asp-route-id=@blogpage.Id>Edit</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Blogs Found!!</p>
    }
</div>
